body {
  margin: 0;
  background-color: #caf2ff;
  height: 100vh;
}

.main-viewport {
  height: 100vh;
}

/* -------------- Nav Bar ------------- */
.logo {
  width: 3vw;
  height: 7vh;
  min-height: 30px;
  min-width: 30px;
  padding-left: 20px !important;
  cursor: pointer;
}

#header {
  display: flex;
  justify-content: flex-end;
  padding-left: 10%;
}

.sticky {
  position: fixed;
  float: right;
  top: 0;
  right: 0;
}

.nav-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 9vh;
  margin: 0 5vw;
  padding-bottom: 1vh;
}

.nav-right-item {
  text-decoration: none;
  font-weight: 500;
  padding-left: 40px;
  color: #4f4f4f;
  font-size: 1.5rem;
  font-family: Roboto, sans-serif;
}

/* -------------- Landing Page ------------- */

#landing-container {
  height: 85vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.landing-no-header {
  margin-top: 10vh;
}

#landing-text-title {
  line-height: 12vh;
  font-family: Roboto, sans-serif;
  letter-spacing: 0.1em;
  font-weight: 500;
  text-transform: uppercase;
  color: #4f4f4f;
  width: 10vw;
  font-size: 10vh;
  /* pretty sure I should use em/rem*/
  margin-bottom: 0;
}

.landing-text-subtitle {
  font-family: Josefin Sans, sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  color: #378199;
  font-size: 3.5vh;
  /* pretty sure I should use em/rem*/
  margin-top: 0;
  margin-left: 0.5vh;
}

/* -------------- About Page ------------- */

.about-container {
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-content-container {
  display: flex;
  flex-direction: row;
  width: 70%;
}

.about-content-text-container {
  display: flex;
  flex-direction: column;
  margin-left: 5%;
  width: 80%;
}

.about-heading-container {
  display: flex;
  align-items: flex-end;
}

.about-heading-right-border {
  width: 300%;
  border-bottom: 5px solid #378199;
  margin-bottom: 1vh;
  margin-left: 1vw;
}

.about-heading-text {
  margin: 0;
}

.about-content-text {
  font-size: 2vh;
  width: 60%;
  line-height: 3vh;
}

#about-headshot {
  height: 60vh;
}

/* -------------- Cosntruction Page ------------- */
.construction-image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.construction-image-container > img {
  width: 300px;
  height: 300px;
}

/* -------------- Blog Page --------------------- */
.viewport-container {
  height: 100%;
}
